   DATA=/Users/bortiz/Desktop
   TRAIN_CSV=${DATA}/isic-2024-challenge/train-metadata.csv
   TEST_CSV=${DATA}/isic-2024-challenge/test-metadata.csv
   TRAIN_HDF5=${DATA}/isic-2024-challenge/train-image.hdf5
   TEST_HDF5=${DATA}/isic-2024-challenge/test-image.hdf5
   PRETRAINED_MODEL=${DATA}/tf_efficientnetv2_b1-be6e41b0.pth
